* {
    background-color: black;
}
.content {
    padding: 25px;
    margin: 15px;
    color: white;
    text-align: center;
    font-size: xx-large;
}
p {
    font-size: large;
}
li, h2{
    color: #50B8D2;
}
ul {
    list-style: none;
}

.foto {
    width:250px;
     height: auto; 
    border-radius: 25%;
    
    }
