<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content name">
        <h1>Creators</h1>
        <img src="me.jpg" alt="foto" class="foto">
        <h2>Luka Osegui Sainz</h2>
        <h3>Tecnico de sistemas</h3>
        <h3>Full stack developer</h3>        
    </div>
    <div class="content">
        <h3>Experiencia profesional</h3>
        <ul>
            <li>EITB</li>
            <p>Gestion de AD, 365, azure, politicas de grupo, WSUS</p>
            <p>Aprobacion y distribucion de software</p>
            <p>Control de images y backup</p>
            <p>Gestion y configuracion de equipos</p>
            <p>Reparacion de hardware</p>
            <p>Soporte windows</p>

            <li>IMQ</li>
            <p>Altas, bajas y modificaciones de usuarios</p>
            <p>Soporte AD, 365 y aplicaciones medicas</p>
            <p>Gestion de excepciones de ciberseguridad</p>
            <p>Coordinacion de proveedores</p>
            <p>Soporte windows</p>

            <li>EROSKI</li>
            <p>Monitorizacion de servidores y procesos</p>
            <p>Gestion de errores en tpv</p>
            <p>Gestion de inventario y backup</p>
            <p>Revision y reparacion de codigo en cobol</p>
            <p>Recuperacion de datos y gestion de backup</p>
            <p>Soporte linux</p>

            <li>Easy Peasy coding</li>
            <p>Ensamblaje de robots MARTY</p>
            <p>Configuracion inicial de robots MARTY</p>
            <p>Programacion basica en python aplicada a robotica</p>
            <p>Creacion de tutoriales en ingles</p>
        </ul>
    </div>
    <div class="content">
        <h3>Estudios</h3>
        <ul>
            <li>Full stack developer bootcamp</li>
                <P>git</P>
                <P>HTML</P>
                <P>CSS</P>
                <P>JavaScript</P>
                <P>React</P>
                <P>Angular</P>
                <P>PHP</P>
                <P>Mongo</P>
                <P>Sql</P>
                <P>Json server</P>
            <li>ASIR</li>
                <P>(Grado superior de Administracion de sistemas informaticos en red)</P>
                <p>Redes e internet (cisco)</p>
                <p>Ciberseguridad</p>
                <p>Sistemas linux</p>
                <p>Windows server</p>
                <p>sh scripting</p>
                <p>HTML, CSS, PHP</p>
                <p>Bases de datos sql</p>
                <p>Creacion y mantenimiento de servicios web</p>
            <li>Grado universitario en Estudios Vascos</li>
                <p>(Sin terminar)</p>
            <li>Bachiller</li>
        </ul>
    </div>
    <div class="content">
        <h3>Idiomas</h3>
        <ul>
            <li>Euskara - nativo</li>
            <li>Español - nativo</li>
            <li>Ingles - C1</li>
        </ul>
    </div>
    

    
</body>
</html>