<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="name">
        <h1>Creators</h1>
        <img src="me.jpg" alt="foto" class="foto">
        <h2>Luka Osegui Sainz</h2>
        <h3>Tecnico de sistemas</h3>
        <h3>Full stack developer</h3>        
    </div>
    <div class="content">
        <h3>experiencia profesional</h3>
        <ul>
            <li>EITB</li>
            <li>IMQ</li>
            <li>EROSKI</li>
            <li>EASY PEASY CODING</li>
        </ul>
    </div>
    <div class="content">
        <h3>ESTUDIOS</h3>
        <ul>
            <li>BOOTCAMP</li>
            <li>ASIR</li>
            <li>EUSKAL FILO</li>
            <li>BATXI</li>
        </ul>
    </div>
    

    
</body>
</html>