a {
  margin: 15px;
  padding: 15px;
}

a:hover {
  background-color: green;
}

footer {
  margin: 0;
  width: 100%;
  padding: 20px;
  color: white;
  background-color: black;
  text-align: center;
}