<link rel="stylesheet" href="footer.component.scss">
<script type="text/javascript" src="footer.component.js"></script>
<footer id="pie">
  <div class="reach">
    <h2 class="footer-titles">Wow! that was a lot of trees</h2>
    <h3 class="footer-titles">Follow Us for more!</h3>
    <a href="" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbf0a2f2b67e3b3ba079c_Twitter%20Icon.svg"
        width="20" alt="Twitter icon">
    </a>
    <a href="" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://cdn-icons-png.flaticon.com/128/3670/3670325.png"
        width="20" alt="discord icon">
    </a>
    <a href="" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://cdn-icons-png.flaticon.com/128/61/61109.png"
        width="20" alt="linkedin Icon">
    </a>
    <a href="" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://cdn-icons-png.flaticon.com/128/5968/5968853.png"
        width="20" alt="gitlab Icon">
    </a>
    <a href="" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://cdn-icons-png.flaticon.com/128/1240/1240971.png" width="20" alt="github Icon" class="">
    </a>
    <p class="mailme">Email me at: <strong>lukaosainz@gmail.com</strong></p>
  </div>

</footer>