// 
//   background: #111;
// }

// .footerdiv {
//   width: 100%;
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
// a {
//   margin: 15px;
//   padding: 15px;
// }
// a:hover {
//   background-color: green;
// }

// .reach {
//   text-align: center;
//   color: white;
// }
// .mailme {
//   text-decoration: none;
// }

footer{
  width: 100%;
  padding: 20px;
  color: white;
  background-color: black;
  text-align: center;
}