<link rel="stylesheet" href="footer.component.scss">
<script type="text/javascript" src="footer.component.js"></script>
<footer id="pie">
  <div class="reach">
    <h2 class="footer-titles">Wow! that was a lot of trees</h2>
    <h3 class="footer-titles">Follow Us for more!</h3>
    <a href="https://twitter.com" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbf0a2f2b67e3b3ba079c_Twitter%20Icon.svg"
        width="20" alt="Twitter icon">
    </a>
    <a href="https://open.spotify.com/playlist/7ddxn3bW0HNCPB5UI0IUP0?si=1a4909ed92d74d7b" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://cdn-icons-png.flaticon.com/128/408/408697.png" width="20" alt="instagram icon">
    </a>
    <a href="https://www.youtube.com/watch?v=DnP8ztaDlQg" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://cdn-icons-png.flaticon.com/128/4494/4494485.png" width="20" alt="youtube Icon">
    </a>
    <a href="https://gitlab.com/ItsLukos" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://cdn-icons-png.flaticon.com/128/5968/5968853.png" width="20" alt="gitlab Icon">
    </a>
    <a href="https://github.com/itsLukos" target="_blank" class="footer-social-network-icons w-inline-block">
      <img src="https://cdn-icons-png.flaticon.com/128/733/733553.png" width="20" alt="github Icon" class="">
    </a>
    <p class="mailme">Email me at: <strong>lukaosainz@gmail.com</strong></p>
  </div>

</footer>