<link rel="stylesheet" href="search.component.scss">

<div class="wrap">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Looking for a tree?" [(ngModel)]="searchString">
    <button type="submit" class="searchButton">
      Go!
    </button>
  </div>
</div>

<div *ngIf="AllPlants">
  <div *ngFor="let Plant of (AllPlants | plantSearch: searchString)" class="plant-card">
    <a [routerLink]="['/detail']" [queryParams]="{id: Plant.id }">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ Plant.common_name }}</mat-card-title>
          <mat-card-subtitle>{{ Plant.scientific_name }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{Plant.image_url}} alt={{Plant.common_name}}>
        <mat-card-content>
          <p>{{ Plant.distribution }}</p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>