<div *ngIf="PlantList">
  <div *ngFor="let Plant of (PlantList | paginationPipe: page: itemsPerPage)" class="plant-card">
    <a [routerLink]="['/detail']" [queryParams]="{id: Plant.id }">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ Plant.common_name }}</mat-card-title>
          <mat-card-subtitle>{{ Plant.scientific_name }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{Plant.image_url}} alt={{Plant.common_name}}>
        <mat-card-content>
          <p>{{ Plant.distribution }}</p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div class="page-select">
    <button (click)="firstPage()">1</button>
    <button (click)="prevPage()">Prev</button>
    <span>{{ page }}</span>
    <button (click)="nextPage()">Next</button>
    <button (click)="lastPage()">{{ numPages }}</button>
  </div>
</div>