@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
//SEARCH BAR
.search {
  margin-left: 70px;
 width: 90%;
 height: 10%;
 position: relative;
 display: flex;

}

.searchTerm {
 width: 100%;
 background-color: white;
 border: 3px solid #00B4CC;
 border-right: none;
 padding: 25px;
 height: 20px;
 border-radius: 5px 0 0 5px;
 outline: none;
 color: #9DBFAF;
 font-size: larger;
}

.searchTerm:focus{
 color: #00B4CC;
}

.searchButton {
 width: 80px;
 height: 80px;
 border: 1px solid #00B4CC;
 background: #00B4CC;
 text-align: center;
 color: #fff;
 border-radius: 0 5px 5px 0;
 cursor: pointer;
 font-size: 20px;
}

//CARDS
.plant-card {
  list-style: none;
  display: inline-flex;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 40px;
}

img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

//PAGINACION
.buttons {
  text-align: center;
}
.ubi {
  width: 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 15%;
  font-size: xx-large;
  background-color: #51A551;
  color: white;
}
.current {
  margin: 10px;
  font-size: xx-large;
}